@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text", "Helvetica Neue", Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@keyframes button-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(126, 34, 206, 0.3);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(126, 34, 206, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(126, 34, 206, 0);
  }
}

.hover\:scale-105:hover {
  transform: scale(1.05);
  animation: button-pulse 1.5s infinite;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 200;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.path-animation {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: draw 1.5s forwards ease-in-out;
}
